*{
  box-sizing: border-box;
}
.calculator-app-container{
  height: 100%;
  width: 100%;
  background: grey;
  margin: 0;
  position: relative;
}

.Calculator-display-container{
  height: 20%;
  width: 100%;
  background: black;
  padding:10px;
  position: relative;
  top:0;
  left:0;
}
//
#Calculator-display{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background: lightblue;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
//
.Calculator-keypad{
  height: 250px;
  width: 250px;
  background: darkgrey;

}

//
.Calculator-keypad button{
  display: inline-block;
  background: lightgreen;
}
