*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}
.App-header {
  background-color: #060;
  height: 200px;
  padding: 20px;
  color: white;
}
#rules{
  margin-top: 20px;
}
#moves{
  text-align: center;
}
.board{
  display: inline-block;
}
.tower-container{
  width: 33.3333%;
  height: 220px;
  float: left;
  display: table;
}
.tower{
  height: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: bottom;
}
.disc{
  margin: 0 auto;
  background: grey;
  border: 1px solid black;
}
#tower-1{
  background:#ddd;
}
#tower-2{
  background:#eee;
}
#tower-3{
  background:#ccc;
}
@media (max-width:770px){
  .tower-container{
    width:50%;
  }
}
@media (max-width:500px){
  .tower-container{
    width:100%;
  }
}
